@media screen and (max-width: 960px) {
  .profile-pic {
    display: none;
  }
  .bell-icon {
    display: none;
  }
  .navigation-bar {
    padding: 4px;
  }
  .favourite-title {
    display: none;
  }
  .search-bar {
    width: 30%;
  }
  .search-box {
    padding: 4px;
  }
  .search-box input {
    width: 100%;
    font-size: 8px;
    text-align: center;
    border: none;
  }
}

/* media query for hindi english music lib */
@media screen and (max-width: 650px) {
  .music-lib {
    width: 100%;
    padding: 0px;
  }

  .song-detail p {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .aside-section-left {
    width: 100%;
  }
  .carausel {
    margin-top: 6%;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 207px;
    overflow: hidden;
    margin-bottom: 2%;
  }
  .carausal-img-box {
    width: 100%;
    margin: 0px;
    margin-bottom: 6%;
  }
  .carausal-img:hover {
    transition: 0.5s all ease-in-out;
    transform: scale(0.5);
  }
  .latest-items {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .aside-section-right {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .excessive-control-box {
    display: none;
  }
  .active-music-title-singer {
    display: none;
  }
  .footer-icon {
    display: none;
  }
  .left-artist {
    width: 100%;
    margin-top: 10%;
  }
  .artist-list-container {
    display: none;
  }

  .artist-description h1 {
    color: white;
    padding: 0px 10px;
    font-size: 20px;
  }

  .artist-description h4 {
    color: navy;
    padding: 0px 10px;
    font-size: 15px;
  }

  .btns {
    width: 100%;
    /* border: 1px solid; */
    display: flex;
  }
  .btns button {
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  .artist-image {
    width: 450px;
    height: 240px;
  }
}
